@{
    ViewData["Title"] = "Countries";
}

<h1>All the Blogger's Countries:</h1>

<ol>
@foreach (Country country in Model)
{
  <li><strong>@country.Name</strong> the @country.Language | <a href="/Countries/Details/@(country.CountryId)">View Country Details</a></li>
}
</ol>